table,
tr,
td,
th {
    border: black 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

#titulos th{
    background-color: rgb(185, 184, 184);
    text-align: center;
}
th{
    background-color: rgb(167, 243, 218);
    text-align: left;
}
#fila1{
    background-color: rgb(245, 253, 175);
    
}
#fila3{
    background-color: rgb(245, 253, 175);
}
tbody{
    text-align: center;
}
body{
    background-size: cover;
    
    background-image: url(./Papas\ Fritas.jpg);
    
}